body {
  background: #4cb8c4; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #3cd3ad,
    #4cb8c4
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3cd3ad, #4cb8c4);
  z-index: 1; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
header {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px 20px;
  margin-bottom: 30px;
  color: white;
}

.container .row h1 {
  background-color: transparent;
  font-size: 50px;
  font-weight: bolder;
  color: tomato;
}
.container .row p {
  font-size: 30px;
  font-weight: 500;
}
.model {
  position: relative;
  display: inline-block;
}
.glasses {
  position: absolute;
  top: 110px;
  left: 0;
  width: 100%;
  transform: scale(0.8, 0.8);
}
